<table>
    <tbody>
        <tr>
            <td align="right">Responsable {{ entity.responsable }}</td>
        </tr>
        <tr>
            <td align="right">{{ entity.fecha|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td>Total de Ingresos: ${{ entity.ingresos }}</td>
        </tr>
        <br>
    </tbody>
    <br>
    <br>
</table>
<table class="table-bordered">
<tr>
            <td class="th">Pagos en Efectivo:</td>
        </tr>
        </table>
<br>
<table class="table-bordered">
    <tbody>
        <tr>
            <td class="th">Nro de Factura</td>
            <td class="th">Monto</td>            
        </tr>
        {% for efectivo in efectivos %}            
        <tr>
            <td>{{ efectivo.id }}</td>
            <td>${{ efectivo.total }}</td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<table class="table-bordered">
<tr>
            <td class="th">Pagos con Tarjeta:</td>
        </tr>
        </table>
<br>
<table class="table-bordered">
    <tbody>
        <tr>
            <td class="th">Nro de Factura</td>
            <td class="th">Nro de Comprobante</td>
            <td class="th">Monto</td>            
        </tr>
        {% for detalle in detalles %}            
        <tr>
            <td>{{ detalle.id }}</td>
            <td>{{ detalle.nroComprobante }}</td>
            <td>${{ detalle.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<table>
<tr>
            <td>Total de Egresos: ${{ entity.egresos }}</td>
        </tr>
        <br>
        </table>
<table class="table-bordered">
<tr>
            <td class="th">Detalle de Egresos</td>
        </tr>
        
<br>
<table class="table-bordered">
    <tbody>
        <tr>
            <td class="th">Nombre de Mozo</td>
            <td class="th">Comision</td>
                        
        </tr>
        {% for key, propina in propinas[0] %}
            {% set nombre = propinas[1] %}            
        <tr>
            <td>{{ nombre[key] }}</td>
            <td>{{ '$'~propina }}</td>            
        </tr>
        {% endfor %}
        </tbody>
</table>
<table>
    
    <br>
    
<tr>
            <td>Total Neto: ${{ entity.total }}</td>
        </tr>
</table>