{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - CierreCaja {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<style>
    form.well ul li div div{
        float: left;
        margin: 0 10px;
    }
    form.well ul li {
        height: 40px;
    }
    .titulos {
        height: 20px;
    }
    .titulo{
        float: left;
        font-size: 14px;
        font-weight: bold;
        margin: 0 100px;
    }
    .add_tag_link,
    .del_tag_link{
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
    }
</style>

<h1>CierreCaja</h1>

<form class="well">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Responsable</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.responsable }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fecha|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Ingresos</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.ingresos }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Egresos</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.egresos }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Total</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.total }}</span>            </div>
        </div>
        <div class="control-group">
            {% if propinas %}
            <label class="control-label">Detalle de egresos</label>
            <div class="controls">
                {% for key, propina in propinas[0] %}
                    {% set nombre = propinas[1] %}
                    <span class="input-xlarge uneditable-input">{{ nombre[key]~' - $'~propina }}</span>
                    <br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
            
    <div class="titulos">
        <div class="titulo">Pagos Con Tarjeta</div>        
    </div>
    {#<h3>Lineas de Factura</h3>#}
    <ul class="tags">       
        {# iterate over each existing tag and render its only field: name #}
            {% for detalle in detalles %}
            <li>Número de Factura: {{ detalle.id }}</li>
            <li>Número de Comprobante: {{ detalle.nroComprobante }}</li>
            <li>Monto: ${{ detalle.total }}</li>
            {% endfor %}     
    </ul>
        
    <div class="titulos">
        <div class="titulo">Pagos En Efectivo</div>        
    </div>
    {#<h3>Lineas de Factura</h3>#}
    <ul class="tags">       
        {# iterate over each existing tag and render its only field: name #}
            {% for efectivo in efectivos %}
            <li>Número de Factura: {{ efectivo.id }}</li>           
            <li>Monto: ${{ efectivo.total }}</li>
            {% endfor %}     
    </ul>
            
        </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('cierrecaja') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('cierrecaja_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('cierrecaja_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
        <div class="float-left">
        <a class="btn btn-success" href="{{ path('cierrecaja_reporte', { 'id': entity.id }) }}">
            Imprimir
        </a>
    </div>
</div>
{% endblock %}
