{% if is_granted('ROLE_ADMIN') %} {# el administrador está logueado #}
        <p>Conectado como <strong>{{ usuario.nombre ~ ' ' ~ usuario.apellido }}</strong></p>
        <a href="{{ path('default') }}"><span class="label label-info">Administrar</span></a>
        <a href="{{ path('fos_user_security_logout') }}"><span class="label label-important">Cerrar sesión</span></a>
{% elseif is_granted('ROLE_USER') %} {# el usuario está logueado #}
        <p>Conectado como <strong>{{ usuario.nombre ~ ' ' ~ usuario.apellido }}</strong></p>
        <a href="{{ path('fos_user_security_logout') }}"><span class="label label-important">Cerrar sesión</span></a>
{% else %} {# el usuario todavía no ha hecho login #}
    {% if error %}
        <div><span class="label label-warning">{{ error|trans({}, 'FOSUserBundle') }}</span></div>
    {% endif %}
    <div>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username" style="width: 200px;">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username | default('') }}" class="corto" />
    <br/>
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" class="corto" />
    <br/>
        {#
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        #}
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
            </form>
    </div>
{% endif %}