{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Producto {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Producto</h1>

<form class="form-horizontal">
    <fieldset>        {#<div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>#}        <div class="control-group">
            <label class="control-label">Nombre</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Imagen</label>
            <div class="controls">
                <span>
                    <img src="{{ asset('/uploads/producto/'~entity.imagen) | apply_filter('grande_producto') }}" />
                </span>
            </div>
        </div>        {#<div class="control-group">
            <label class="control-label">Cantidad_vendido</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.cantidadvendido }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Created</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.created|date('Y-m-d H:i:s') }}</span>            </div>
        </div>#}    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('producto') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('producto_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('producto_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Desea eliminar al proyecto del sistema?');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}