<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Google Maps JavaScript API v3 Example: Geocoding Simple</title>
        <link href="/maps/documentation/javascript/examples/default.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/jquery-1.6.js" ></script>
    <script type="text/javascript" src="/js/cufon-yui.js"></script>
    <script type="text/javascript" src="/js/cufon-replace.js"></script>  
    <script type="text/javascript" src="/js/Forum_400.font.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/tms-0.3.js"></script>
    <script type="text/javascript" src="/js/tms_presets.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/atooltip.jquery.js"></script>
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    {#<style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>#}
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/crud.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ asset('bundles/sistemaadmin/css/modificaadmin.css') }}" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script>
          var geocoder;
          var map;
          function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
              zoom: 15,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
          }

          function codeAddress() {            
            var address = "Resistencia, Chaco".concat(document.getElementById('sistema_adminbundle_pedidotype_direccion').value);
            geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
              } else {
                alert('Geocode was not successful for the following reason: ' + status);
              }
            });
          }
      
          google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        </head>
        <body>
            <style>
            body {
    -webkit-text-size-adjust: none;
}

    form.well ul li div div{
        float: left;
        margin: 0 10px;
    }
    form.well ul li {
        height: 40px;
    }
    .titulos {
        height: 20px;
    }
    .titulos div{
        float: left;
        font-size: 14px;
        font-weight: bold;
    }
    .tituloproducto{
        margin: 0 40px;
    }
    .tituloprecio{
        margin: 0 140px;
    }
    .titulocantidad{
        margin: 0 -20px;
    }
    .titulototal{
        margin: 0 120px;
    }
    .add_tag_link,
    .del_tag_link{
        font-size: 14px;
        font-weight: bold;
        color: #000000;
    }    
@media print {
.no1 {display:none;}
.sf-toolbarreset {display:none;}
}

</style>
            <link href="{{ asset('css/blitzer/jquery-ui-1.9.0.custom.min.css') }}" rel="stylesheet">
{{ form_stylesheet(form) }}
            <script src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui-1.9.0.custom.min.js') }}"></script>
{{ form_javascript(form) }}
            <div class="no1">
            <h2>Realizar pedido </h2>
            </div>
            <form class="well" action="{{ path('pedido_create') }}" method="post" {{ form_enctype(form) }}>
                <div class="no1">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form_row(form.idCaja) }}</td>
                            <td>{{ form_row(form.idCliente) }}</td>
                            <td>{{ form_row(form.idMotomandado) }}</td>
                        </tr>
                    </tbody>
                </table>
    {# form_widget(form) #}
                <div class="titulos">
                    <div class="tituloproducto">Producto</div>
                    <div class="tituloprecio">Precio</div>
                    <div class="titulocantidad">Cantidad</div>
                    <div class="titulototal">Total</div>
                </div>

                <ul class="tags" data-prototype="{{ form_widget(form.lineasPedido.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for linea in form.lineasPedido %}
                        <li>{{ form_row(linea.idTipoProducto) }}</li>
                        <li>{{ form_row(linea.Precio) }}</li>
                        <li>{{ form_row(linea.cantidad) }}</li>
                        <li>{{ form_row(linea.total) }}</li>
                        <li>{{ form_row(linea.idTipoProducto) }}</li>
        {% endfor %}            
                    </ul>
    {{ form_row(form.direccion) }}
                        </div>
                                            
                        <div class="no1">
                        <input type="button" value="Marcar" onclick="codeAddress()">
                    <a href="javascript:window.print()">Imprimir</a>
                    </div>
                    
                    <div id="map_canvas" style="height:400px;width:550px;top:50px"></div>  
                    <div class="no1">
    {{ form_row(form.total) }}

    {# form_row(form.idFactura) #}
                    <p>
                        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </p>
                    </div>
                </form>
            <div class="no1">
<div>
    <div class="float-left">
        <a class="btn" href="{{ path('pedido') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
                    </div>
            <script>
var cantidadAddJs = 0;
var collectionHolder = $('ul.tags');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Agregar</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // add a delete link to all of the existing tag form li elements
    //collectionHolder.find('li').each(function() {
    //    addTagFormDeleteLink($(this));
    //});
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
});

function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    cantidadAddJs = cantidadAddJs+1;
    cargarAddJs(cantidadAddJs);
    // add a delete link to the new form
    //addTagFormDeleteLink($newFormLi);
}

//function addTagFormDeleteLink($tagFormLi) {
//    var $removeFormA = $('<a href="#" class="del_tag_link">Eliminar Linea</a>');
//    $tagFormLi.append($removeFormA);
//
//    $removeFormA.on('click', function(e) {
//        // prevent the link from creating a "#" on the URL
//        e.preventDefault();
//        
//        cantidadAddJs = cantidadAddJs-1;
//        // remove the li for the tag form
//        $tagFormLi.remove();
//    });
//}
</script>

<script>
    function cargarAddJs(cantidadAddJs){
        //var $addTwig = " {\% set idProducto = "+cantidadAddJs+" \%} ";
        //var $newAddTwig = $('<div><\/div>').append($addTwig);
        //$newLinkLi.before($newAddTwig);
        var $addJs =
            "$('#sistema_adminbundle_pedidotype_lineasPedido_"+cantidadAddJs+"_idTipoProducto').change(function() {"+
                "consultaPrecio($('#sistema_adminbundle_pedidotype_lineasPedido_"+cantidadAddJs+"_idTipoProducto').val(), "+cantidadAddJs+")"+
            "});"+
            "$('#sistema_adminbundle_pedidotype_lineasPedido_"+cantidadAddJs+"_cantidad').keyup(function() {"+
                "calculaTotal("+cantidadAddJs+")"+
            "});"
        ;
        var $newAddJs = $('<script><\/script>').append($addJs);
        //$('<div></div>').append($newAddJs);
        $newLinkLi.before($newAddJs);
        
//        var $div3 = $("<div />",
//        {
//            id: "Div3", //atributo directo, igual que si fuéramos con attr(“id”)
//            "class": "Div3", //class entre comillas porque es una palabra reservada en javascript
//            text: "Lorem ipsum", //text no es un atributo sino una propiedad de jQuery, por ejemplo: .text("Lorem ipsum")
//            css: //propiedad de jQuery
//                {
//                "font-weight": "bold", "color": "White"
//                },
//            click: function (e) { //evento de jQuery
//                alert("Hola mundo!");
//                }
//        });
//        $newLinkLi.before($div3);
    }
    
    function consultaPrecio(id, cantidadAddJs){
        $.ajax({
          url: '{{ path('factura_producto_precio') }}',
          type: "POST",
          data: { "id" : id },
          success: function(data) {
            //$('.result').html(data);
            $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_Precio').val(data);
            $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_cantidad').val(1);
            $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_total').val(data);
            //totalFacturado = $('#sistema_adminbundle_facturatype_total').val();
            //totalLinea = $('#sistema_adminbundle_facturatype_idLineaFactura_'+cantidadAddJs+'_total').val();
            //totalFacturado = totalFacturado + totalLinea;
            //$('#sistema_adminbundle_facturatype_total').val(totalFacturado);
            totalFacturado = 0;
            collectionHolder.find('li').each(function(index) {
                if(index != 0){
                    totalLinea = parseInt($('#sistema_adminbundle_pedidotype_lineasPedido_'+index+'_total').val(), 10)
                    if(!isNaN(totalLinea)){
                        totalFacturado = totalFacturado + totalLinea;
                    }
                }
            });
            $('#sistema_adminbundle_pedidotype_total').val(totalFacturado);
          }
        });
    }
    
    function calculaTotal(cantidadAddJs){
        valuePrecio = $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_Precio').val();
        valueCantidad = $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_cantidad').val();
        valueTotal = valuePrecio * valueCantidad;
        $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_total').val(valueTotal);
        totalFacturado = 0;
        collectionHolder.find('li').each(function(index) {
            if(index != 0){
                totalLinea = parseInt($('#sistema_adminbundle_pedidotype_lineasPedido_'+index+'_total').val(), 10)
                if(!isNaN(totalLinea)){
                    totalFacturado = totalFacturado + totalLinea;
                }
            }
        });
        $('#sistema_adminbundle_pedidotype_total').val(totalFacturado);
    }
</script>

<script>
function dump(obj) {
    var out = '';
    for (var i in obj) {
        out += i + ": " + obj[i] + "\n";
    }

    alert(out);

    // or, if you wanted to avoid alerts...

    var pre = document.createElement('pre');
    pre.innerHTML = out;
    document.body.appendChild(pre)
}
</script>
            </body>
        </html>