 
{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Pedido {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<style>
    div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}

div.olMapViewport {
    text-align: left;
}

div.olLayerDiv {
   -moz-user-select: none;
   -khtml-user-select: none;
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;
}
.olLayerGoogleV3.olLayerGoogleCopyright {
    right: auto !important;
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;
}
.olLayerGoogleV3.olLayerGooglePoweredBy {
    bottom: 15px !important;
}
.olControlAttribution {
    font-size: smaller;
    right: 3px;
    bottom: 4.5em;
    position: absolute;
    display: block;
}
.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.olControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
}
.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
}

div.olControlMousePosition {
    bottom: 0;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton {
    height: 18px;
    width: 18px;
    right: 0;
    bottom: 80px;
    cursor: pointer;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("img/blank.gif");
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("img/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
    overflow: auto;
}

.olControlNavigationHistory {
   background-image: url("img/navigation_history.png");
   background-repeat: no-repeat;
   width:  24px;
   height: 24px;

}
.olControlNavigationHistoryPreviousItemActive {
  background-position: 0 0;
}
.olControlNavigationHistoryPreviousItemInactive {
   background-position: 0 -24px;
}
.olControlNavigationHistoryNextItemActive {
   background-position: -24px 0;
}
.olControlNavigationHistoryNextItemInactive {
   background-position: -24px -24px;
}

div.olControlSaveFeaturesItemActive {
    background-image: url(img/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}
div.olControlSaveFeaturesItemInactive {
    background-image: url(img/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

.olControlPanPanel {
    top: 10px;
    left: 5px;
}

.olControlPanPanel div {
    background-image: url(img/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0;
    left: 9px;
    background-position: 0 0;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0;
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0;
    background-position: 0 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
}

.olControlZoomPanel div {
    background-image: url(img/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    left: 0;
    background-position: 0 0;
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0;
    background-position: 0 -18px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0;
    background-position: 0 18px;
}

/*
 * When a potential text is bigger than the image it move the image
 * with some headers (closes #3154)
 */
.olControlPanZoomBar div {
    font-size: 1px;
}

.olPopupCloseBox {
  background: url("img/close.gif") no-repeat;
  cursor: pointer;
}

.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.olControlNoSelect {
 -moz-user-select: none;
 -khtml-user-select: none;
}

.olImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

/**
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;
}
.olDragDown {
    cursor: move;
}
.olDrawBox {
    cursor: crosshair;
}
.olControlDragFeatureOver {
    cursor: move;
}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: darkblue;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
}

.olBingAttribution {
    color: #DDD;
}
.olBingAttribution.road {
    color: #333;
}

.olGoogleAttribution.hybrid, .olGoogleAttribution.satellite {
    color: #EEE;
}
.olGoogleAttribution {
    color: #333;
}
span.olGoogleAttribution a {
    color: #77C;
}
span.olGoogleAttribution.hybrid a, span.olGoogleAttribution.satellite a {
    color: #EEE;
}

/**
 * Editing and navigation icons.
 * (using the editing_tool_bar.png sprint image)
 */
.olControlNavToolbar ,
.olControlEditingToolbar {
    margin: 5px 5px 0 0;
}
.olControlNavToolbar div,
.olControlEditingToolbar div {
    background-image: url("/images/editing_tool_bar.png");
    background-repeat: no-repeat;
    margin: 0 0 5px 5px;
    width: 24px;
    height: 22px;
    cursor: pointer
}
/* positions */
.olControlEditingToolbar {
    right: 0;
    top: 0;
}
.olControlNavToolbar {
    top: 295px;
    left: 9px;
}
/* layouts */
.olControlEditingToolbar div {
    float: right;
}
/* individual controls */
.olControlNavToolbar .olControlNavigationItemInactive,
.olControlEditingToolbar .olControlNavigationItemInactive {
    background-position: -103px -1px;
}
.olControlNavToolbar .olControlNavigationItemActive ,
.olControlEditingToolbar .olControlNavigationItemActive  {
    background-position: -103px -24px;
}
.olControlNavToolbar .olControlZoomBoxItemInactive {
    background-position: -128px -1px;
}
.olControlNavToolbar .olControlZoomBoxItemActive  {
    background-position: -128px -24px;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
    background-position: -77px -1px;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
    background-position: -77px -24px;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
    background-position: -51px -1px;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
    background-position: -51px -24px;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive{
    background-position: -26px -1px;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
    background-position: -26px -24px;
}

div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width:22px;
    line-height: 19px;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80);
}
div.olControlZoom a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}


/**
 * Animations
 */

.olLayerGrid .olTileImage {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
/* mobile specific */
@media only screen and (max-width: 600px) {
    body {
        height           : 100%;
        margin           : 0;
        padding          : 0;
        width            : 100%;
    }
    #map {
        background : #7391ad;
        width      : 100%;
    }
    #map {
        border : 0;
        height : 250px;
    }
    #title {
        font-size   : 1.3em;
        line-height : 2em;
        text-indent : 1em;
        margin      : 0;
        padding     : 0;
    }
    #docs {
        bottom     : 0;
        padding    : 1em;
    }
    #shortdesc {
        color      : #aaa;
        font-size  : 0.8em;
        padding    : 1em;
        text-align : right;
    }
    #tags {
        display : none;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px) {
    #shortdesc {
       float: right;
       width: 25%;
    }
    #map {
        width: 70%;
    }
    #docs {
        font-size: 12px;
    }
}
body {
    -webkit-text-size-adjust: none;
}

    form.well ul li div div{
        float: left;
        margin: 0 10px;
    }
    form.well ul li {
        height: 40px;
    }
    .titulos {
        height: 20px;
    }
    .titulos div{
        float: left;
        font-size: 14px;
        font-weight: bold;
    }
    .tituloproducto{
        margin: 0 40px;
    }
    .tituloprecio{
        margin: 0 140px;
    }
    .titulocantidad{
        margin: 0 -20px;
    }
    .titulototal{
        margin: 0 120px;
    }
    .add_tag_link,
    .del_tag_link{
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
    }
</style>

<link href="{{ asset('css/blitzer/jquery-ui-1.9.0.custom.min.css') }}" rel="stylesheet">
{{ form_stylesheet(form) }}
<script src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.9.0.custom.min.js') }}"></script>
{{ form_javascript(form) }}

<h2>Realizar pedido </h2>

<form class="well" action="{{ path('pedido_create') }}" method="post" {{ form_enctype(form) }}>
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_row(form.idCaja) }}</td>
                <td>{{ form_row(form.idCliente) }}</td>
            </tr>
        </tbody>
    </table>
    {# form_widget(form) #}
    <div class="titulos">
        <div class="tituloproducto">Producto</div>
        <div class="tituloprecio">Precio</div>
        <div class="titulocantidad">Cantidad</div>
        <div class="titulototal">Total</div>
    </div>

    <ul class="tags" data-prototype="{{ form_widget(form.lineasPedido.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for linea in form.lineasPedido %}
            <li>{{ form_row(linea.idTipoProducto) }}</li>
            <li>{{ form_row(linea.Precio) }}</li>
            <li>{{ form_row(linea.cantidad) }}</li>
            <li>{{ form_row(linea.total) }}</li>
            <li>{{ form_row(linea.idTipoProducto) }}</li>
        {% endfor %}            
    </ul>
    {{ form_row(form.direccion) }}
    <div id="map" class="smallmap"></div>       
       
    {{ form_row(form.total) }}
        
    {# form_row(form.idFactura) #}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('pedido') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>

<script>
var cantidadAddJs = 0;
var collectionHolder = $('ul.tags');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Agregar</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // add a delete link to all of the existing tag form li elements
    //collectionHolder.find('li').each(function() {
    //    addTagFormDeleteLink($(this));
    //});
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
});

function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    cantidadAddJs = cantidadAddJs+1;
    cargarAddJs(cantidadAddJs);
    // add a delete link to the new form
    //addTagFormDeleteLink($newFormLi);
}

//function addTagFormDeleteLink($tagFormLi) {
//    var $removeFormA = $('<a href="#" class="del_tag_link">Eliminar Linea</a>');
//    $tagFormLi.append($removeFormA);
//
//    $removeFormA.on('click', function(e) {
//        // prevent the link from creating a "#" on the URL
//        e.preventDefault();
//        
//        cantidadAddJs = cantidadAddJs-1;
//        // remove the li for the tag form
//        $tagFormLi.remove();
//    });
//}
</script>

<script>
    function cargarAddJs(cantidadAddJs){
        //var $addTwig = " {\% set idProducto = "+cantidadAddJs+" \%} ";
        //var $newAddTwig = $('<div><\/div>').append($addTwig);
        //$newLinkLi.before($newAddTwig);
        var $addJs =
            "$('#sistema_adminbundle_pedidotype_lineasPedido_"+cantidadAddJs+"_idTipoProducto').change(function() {"+
                "consultaPrecio($('#sistema_adminbundle_pedidotype_lineasPedido_"+cantidadAddJs+"_idTipoProducto').val(), "+cantidadAddJs+")"+
            "});"+
            "$('#sistema_adminbundle_pedidotype_lineasPedido_"+cantidadAddJs+"_cantidad').keyup(function() {"+
                "calculaTotal("+cantidadAddJs+")"+
            "});"
        ;
        var $newAddJs = $('<script><\/script>').append($addJs);
        //$('<div></div>').append($newAddJs);
        $newLinkLi.before($newAddJs);
        
//        var $div3 = $("<div />",
//        {
//            id: "Div3", //atributo directo, igual que si fuéramos con attr(“id”)
//            "class": "Div3", //class entre comillas porque es una palabra reservada en javascript
//            text: "Lorem ipsum", //text no es un atributo sino una propiedad de jQuery, por ejemplo: .text("Lorem ipsum")
//            css: //propiedad de jQuery
//                {
//                "font-weight": "bold", "color": "White"
//                },
//            click: function (e) { //evento de jQuery
//                alert("Hola mundo!");
//                }
//        });
//        $newLinkLi.before($div3);
    }
    
    function consultaPrecio(id, cantidadAddJs){
        $.ajax({
          url: '{{ path('factura_producto_precio') }}',
          type: "POST",
          data: { "id" : id },
          success: function(data) {
            //$('.result').html(data);
            $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_Precio').val(data);
            $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_cantidad').val(1);
            $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_total').val(data);
            //totalFacturado = $('#sistema_adminbundle_facturatype_total').val();
            //totalLinea = $('#sistema_adminbundle_facturatype_idLineaFactura_'+cantidadAddJs+'_total').val();
            //totalFacturado = totalFacturado + totalLinea;
            //$('#sistema_adminbundle_facturatype_total').val(totalFacturado);
            totalFacturado = 0;
            collectionHolder.find('li').each(function(index) {
                if(index != 0){
                    totalLinea = parseInt($('#sistema_adminbundle_pedidotype_lineasPedido_'+index+'_total').val(), 10)
                    if(!isNaN(totalLinea)){
                        totalFacturado = totalFacturado + totalLinea;
                    }
                }
            });
            $('#sistema_adminbundle_pedidotype_total').val(totalFacturado);
          }
        });
    }
    
    function calculaTotal(cantidadAddJs){
        valuePrecio = $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_Precio').val();
        valueCantidad = $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_cantidad').val();
        valueTotal = valuePrecio * valueCantidad;
        $('#sistema_adminbundle_pedidotype_lineasPedido_'+cantidadAddJs+'_total').val(valueTotal);
        totalFacturado = 0;
        collectionHolder.find('li').each(function(index) {
            if(index != 0){
                totalLinea = parseInt($('#sistema_adminbundle_pedidotype_lineasPedido_'+index+'_total').val(), 10)
                if(!isNaN(totalLinea)){
                    totalFacturado = totalFacturado + totalLinea;
                }
            }
        });
        $('#sistema_adminbundle_pedidotype_total').val(totalFacturado);
    }
</script>

<script>
function dump(obj) {
    var out = '';
    for (var i in obj) {
        out += i + ": " + obj[i] + "\n";
    }

    alert(out);

    // or, if you wanted to avoid alerts...

    var pre = document.createElement('pre');
    pre.innerHTML = out;
    document.body.appendChild(pre)
}
</script>
 <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
        <script>
            var map = new OpenLayers.Map("map");

var ol_wms = new OpenLayers.Layer.WMS(
    "OpenLayers WMS",
    "http://vmap0.tiles.osgeo.org/wms/vmap0",
    {layers: "basic"}
);

var dm_wms = new OpenLayers.Layer.Google(
        "Google Streets", // the default
        {numZoomLevels: 20, visibility: false}
);
vlayer = new OpenLayers.Layer.Vector( "Editable" );

map.addLayers([dm_wms, vlayer]);
//map.addControl(new OpenLayers.Control.LayerSwitcher());
map.addControl(
                new OpenLayers.Control.MousePosition({
                    prefix: '<a target="_blank" ' +
                        'href="http://spatialreference.org/ref/epsg/4326/">' +
                        'EPSG:4326</a> coordinates: ',
                    separator: ' | ',
                    numDigits: 2,
                    emptyString: 'Mouse is not over map.'
                })
            );
map.addControl(new OpenLayers.Control.EditingToolbar(vlayer));
map.zoomToMaxExtent();
map.setCenter(new OpenLayers.LonLat(-58.99, -27.45).transform(
        new OpenLayers.Projection("EPSG:4326"),
        map.getProjectionObject()
    ), 12);
        </script>
{% endblock %}