{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Promocion {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Promocion</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Precio</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.precio }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Validohasta</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.validoHasta }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Cantidad_vendido</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.cantidadvendido }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('promocion') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('promocion_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('promocion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Desea eliminar al proyecto del sistema?');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}