{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Persona {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{# block stylesheet %}
    {{ parent() }}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheet #}

{% block page %}

<h1>Persona {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

{#<div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>#}
<form class="well" action="{{ path('persona_create') }}" method="post" {{ form_enctype(form) }}>
    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}

    {{ form_errors(form) }}

    {% if flow.getCurrentStep() == 2 %}
        <div>
            {% if form.vars.value.tipo == 'cajero' %}
                {{ form_row(form.usuario) }}
            {% else %}
                <div style="display:none;">{{ form_row(form.usuario) }}</div>
                <div>Confirmar Datos:</div>
                <div><label>Dni</label><input disabled="disabled" type="number" value="{{ form.vars.value.dni }}"></div>
                <div><label>Nombre</label><input disabled="disabled" type="text" value="{{ form.vars.value.nombre }}"></div>
                <div><label>Apellido</label><input disabled="disabled" type="text" value="{{ form.vars.value.apellido }}"></div>
                <div><label>Tipo</label><input disabled="disabled" type="text" value="{{ form.vars.value.tipo }}"></div>
            {% endif %}
        </div>
    {% endif %}

    {{ form_rest(form) }}

    {% include 'SistemaAdminBundle:Persona:buttons.html.twig' %}
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('persona') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}