{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - factura {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<link href="{{ asset('css/blitzer/jquery-ui-1.9.0.custom.min.css') }}" rel="stylesheet">
<h1>factura {{ 'views.new.creation'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('factura_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.fecha) }}
    {{ form_row(form.formaPago) }}
    {{ form_row(form.nroComprobante) }}
    {{ form_row(form.banco) }}
    {{ form_row(form.idCaja) }}
    {{ form_row(form.idMozo) }}
    {{ form_row(form.idCliente) }}    
    <h3>Lineas de Factura</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.lineaFactura.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for lineaFactura in form.lineaFactura %}
            <li>{{ form_row(lineaFactura.cantidad) }}</li>
        {% endfor %}
    </ul>
    {{ form_row(form.total) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('factura') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
<script src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.9.0.custom.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui-timepicker-addon.js') }}"></script>
<script>
    $('.date').datetimepicker({ dateFormat: 'dd-mm-yy',changeMonth: true,
            changeYear: true, showSecond: true, timeFormat: 'hh:mm:ss', })
    
</script>
<script>
    var collectionHolder = $('ul.tags');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Agregar Linea</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
});

function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype we explained earlier
    var prototype = collectionHolder.attr('data-prototype');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on the current collection's length.
    var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}    
</script>
{% endblock %}