<table>
    <tbody>
        <tr>
            <td align="right">Factura Nro {{ entity.id }}</td>
        </tr>
        <tr>
            <td align="right">{{ entity.fecha|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td>Forma de pago: {{ entity.formaPago }}</td>
        </tr>
        {% if entity.formaPago == 'tarjeta' %}
        <tr>
            <td>Nro de comprobante: {{ entity.nroComprobante }}</td></tr>
        <tr>
            <td>Banco: {{ entity.banco }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<br>
<table class="table-bordered">
    <tbody>
        <tr>
            <td class="th">Producto</td>
            <td class="th">Precio</td>
            <td class="th">Cantidad</td>
            <td class="th">Total</td>
        </tr>
        {% for lineaFactura in entity.idLineaFactura %}
        <tr>
            <td>{{ lineaFactura.idTipoProducto }}</td>
            <td>$ {{ lineaFactura.idTipoProducto.precio }}</td>
            <td>{{ lineaFactura.cantidad }}</td>
            <td>$ {{ lineaFactura.total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>Total: </td>
            <td>$ {{ entity.total }}</td>
        </tr>
    </tbody>
</table>