<table>
    <tbody>
        <tr>
            <td align="right">Factura Nro {{ entity.id }}</td>
        </tr>
        <tr>
            <td align="right">{{ entity.fecha|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <td>Forma de pago: {{ entity.formaPago }}</td>
            {% if entity.formaPago == 'tarjeta' %}
                <td>Nro de comprobante: {{ entity.nroComprobante }}</td>
                <td>Banco: {{ entity.banco }}</td>
            {% endif %}
        </tr>
    </tbody>
</table>
<br>
<table class="table-bordered">
    <tbody>
        <tr>
            <td class="th">Producto</td>
            <td class="th">Precio</td>
            <td class="th">Cantidad</td>
            <td class="th">Total</td>
        </tr>
        {% for lineaFactura in entity.idLineaFactura %}
        <tr>
            <td>{{ lineaFactura.idTipoProducto }}</td>
            <td>$ {{ lineaFactura.idTipoProducto.precio }}</td>
            <td>{{ lineaFactura.cantidad }}</td>
            <td>$ {{ lineaFactura.total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>Total: </td>
            <td>$ {{ entity.total }}</td>
        </tr>
    </tbody>
</table>

    <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fecha|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Total</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.total }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Formapago</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.formaPago }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Nrocomprobante</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.nroComprobante }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Banco</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.banco }}</span>            </div>
        </div>