<!DOCTYPE html>
<html lang="en">
<head>
    <title>Viva La Pizza - {% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/jquery-1.6.js" ></script>
    <script type="text/javascript" src="/js/cufon-yui.js"></script>
    <script type="text/javascript" src="/js/cufon-replace.js"></script>  
    <script type="text/javascript" src="/js/Forum_400.font.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/tms-0.3.js"></script>
    <script type="text/javascript" src="/js/tms_presets.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/js/atooltip.jquery.js"></script> 

    <!--[if lt IE 9]>
            <script type="text/javascript" src="js/html5.js"></script>
            <style type="text/css">
                    .slider_bg {behavior:url(js/PIE.htc)}
            </style>
    <![endif]-->
    <!--[if lt IE 7]>
            <div style='clear:both;text-align:center;position:relative'>
                    <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
            </div>
    <![endif]-->
{% block stylesheet %}
    <!-- Le styles -->
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    {#<style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>#}
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/crud.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ asset('bundles/sistemaadmin/css/modificaadmin.css') }}" rel="stylesheet">
{% endblock %}
</head>
<body id="page1">
<div class="body6">
	<div class="body1">
		<div class="body5">
			<div class="main">
            {% if is_granted('ROLE_ADMIN') %} {# el administrador est치 logueado #}
                <p>
                    <span class="label label-important">
                        Conectado como Administrador: {{ app.user.idPersona }}
                    </span>
                    <a href="{{ path('fos_user_security_logout') }}"><span class="label label-important">Cerrar sesi칩n</span></a>
                </p>
            {% elseif is_granted('ROLE_CAJERO') %}
                <p>
                    <span class="label label-important">
                        Conectado como Cajero: {{ app.user.idPersona }}
                    </span>
                    <a href="{{ path('fos_user_security_logout') }}"><span class="label label-important">Cerrar sesi칩n</span></a>
                </p>
            {% endif %}
<!-- header -->
				<header>
					<h1><a href="{{ path('admin_index') }}" id="logo">Classic European Cuisine</a></h1>
					{#<nav>
						<ul id="top_nav">
							<li><a href="{{ path('admin_index') }}"><img src="/images/icon_1.gif" alt=""></a></li>
							<li><a href="#"><img src="/images/icon_2.gif" alt=""></a></li>
							<li class="end"><a href="Contacts.html"><img src="/images/icon_3.gif" alt=""></a></li>
                                                        
						</ul>
					</nav>#}
                                        <div style="position: absolute;right: 20px;top: 20px;"><a rel="shadowbox[Mixed];height=600" href="{{ asset('ayuda/index.htm') }}"><img src="{{ asset('images/icono_ayuda.jpg') }}"></a></div>
					<nav>
						<ul id="menu">
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <li {% if app.request.pathinfo ==  '/admin/' %} class="active" {% endif %}>
                                                            <a href="{{ path('admin_index') }}">Inicio</a></li>
							{#<li class="active"><a href="{{ path('admin_index') }}">Inicio</a></li>#}
							<li {% if app.request.pathinfo ==  '/admin/producto/' %} class="active" {% endif %}>
                                                            <a href="{{ path('producto') }}">Producto</a></li>
							<li {% if app.request.pathinfo ==  '/admin/tipoproducto/' %} class="active" {% endif %}>
                                                            <a href="{{ path('tipoproducto') }}">Tipo Producto</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/promocion/' %} class="active" {% endif %}>
                                                            <a href="{{ path('promocion') }}">Promoci&oacute;n</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/persona/' %} class="active" {% endif %}>
                                                            <a href="{{ path('persona') }}">Persona</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/mesa/' %} class="active" {% endif %}>
                                                            <a href="{{ path('mesa') }}">Mesa</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/caja/' %} class="active" {% endif %}>
                                                            <a href="{{ path('caja') }}">Caja</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/comprobante/' %} class="active" {% endif %}>
                                                            <a href="{{ path('comprobante') }}">Comprobante</a></li>
                                                        {#<li {% if app.request.pathinfo ==  '/admin/factura/' %} class="active" {% endif %}>
                                                            <a href="{{ path('factura') }}">Facturar</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/lineafactura/' %} class="active" {% endif %}>
                                                            <a href="{{ path('lineafactura') }}">L&iacute;nea de factura</a></li>#}
                                                        <li {% if app.request.pathinfo ==  '/admin/caja/' %} class="active" {% endif %}>
                                                            <a href="{{ path('caja') }}">Abrir Caja</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/cierrecaja/' %} class="active" {% endif %}>
                                                            <a href="{{ path('cierrecaja') }}">Cerrar Caja</a></li>
							{#<li><a href="Contacts.html"></a></li>#}
                                                    {% elseif is_granted('ROLE_CAJERO') %}
                                                        <li {% if app.request.pathinfo ==  '/admin/caja/' %} class="active" {% endif %}>
                                                            <a href="{{ path('admin_index') }}">Inicio</a></li>
                                                        <li {% if app.request.pathinfo ==  '/admin/caja/new' %} class="active" {% endif %}>
                                                            <a href="{{ path('caja_new') }}">Abrir Caja</a></li>
                                                        {#<li {% if app.request.pathinfo ==  '/admin/cierrecaja/' %} class="active" {% endif %}>
                                                            <a href="{{ path('cierrecaja') }}">Cerrar Caja</a></li>#}
                                                    {% endif %}
						</ul>
					</nav>
				</header>
<!-- / header -->
<!-- content -->
				<article id="content">
                                    {% block content %}{% endblock %}
                                    <div class="container">
                                        <div class="contenedor_page">

                                        {% for type, flashMessages in app.session.flashbag.all() %}
                                            {% for flashMessage in flashMessages %}
                                                <div class="alert alert-{{ type }}">
                                                    {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}

                                        {% block page %}{% endblock %}
                                        
                                        </div>
                                    </div>
				</article>
			</div>
		</div>
	</div>
</div>
<div class="body3">
	<div class="body4">
		<div class="main">
<!-- footer -->
			<footer>
				<div class="wrapper">
					<section class="col1 pad_left1">
						<h3>Hecho por: <span>Gonzalo Alonso & Fabi치n Serafini</span></h3>
					</section>
					<section class="col2 pad_left1">
						<h3>Seguinos </h3>
						<ul id="icons">
							<li><a href="http://www.facebook.com/" class="normaltip" title="Facebook"><img src="/images/icon1.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Linkedin"><img src="/images/icon2.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Twitter"><img src="/images/icon3.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Delicious"><img src="/images/icon4.gif" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Technorati"><img src="/images/icon5.gif" alt=""></a></li>
						</ul>
					</section>
				</div>
				
			</footer>
<!-- / footer -->
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>

{% block javascript %}
    <script src="{{ asset('bundles/jordillonchcrudgenerator/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jordillonchcrudgenerator/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
<link rel="stylesheet" type="text/css" href="{{ asset('shadowbox-3.0.3/shadowbox.css') }}">
<script type="text/javascript" src="{{ asset('shadowbox-3.0.3/shadowbox.js') }}"></script>
<script type="text/javascript">
Shadowbox.init();
</script>
