{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Usuario {{ 'views.index.list'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<div class="row">

    <div class="span8">
        <h1>Usuario {{ 'views.index.list'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
    </div>
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="span2">
        <div class="filters-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                <span class="caret"></span>
            </a>
        </div>
    </div>

    <div class="span12">
        <div id="filters" class="collapse">

            <form class="well" action="{{ path('usuario') }}" method="post" {{ form_enctype(filterForm) }}>
                {{ form_row(filterForm.id) }}
                    {#
                {{ form_row(filterForm.username) }}
                {{ form_row(filterForm.usernameCanonical) }}
                {{ form_row(filterForm.email) }}
                {{ form_row(filterForm.emailCanonical) }}
                {{ form_row(filterForm.enabled) }}
                {{ form_row(filterForm.salt) }}
                {{ form_row(filterForm.password) }}
                {{ form_row(filterForm.lastLogin) }}
                {{ form_row(filterForm.locked) }}
                {{ form_row(filterForm.expired) }}
                {{ form_row(filterForm.expiresAt) }}
                {{ form_row(filterForm.confirmationToken) }}
                {{ form_row(filterForm.passwordRequestedAt) }}
                {{ form_row(filterForm.roles) }}
                {{ form_row(filterForm.credentialsExpired) }}
                {{ form_row(filterForm.credentialsExpireAt) }}
                {{ form_rest(filterForm) }}
                    #}

                <p>
                    <button type="submit" name="filter_action" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>
    </div>

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Username</th>
            <th>Usernamecanonical</th>
            <th>Email</th>
            <th>Emailcanonical</th>
            <th>Enabled</th>
            <th>Salt</th>
            <th>Password</th>
            <th>Lastlogin</th>
            <th>Locked</th>
            <th>Expired</th>
            {#<th>Expiresat</th>#}
            <th>Confirmationtoken</th>
            <th>Passwordrequestedat</th>
            <th>Roles</th>
            <th>Credentialsexpired</th>
            {#<th>Credentialsexpireat</th>#}
            <th>Id</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.usernameCanonical }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.emailCanonical }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{{ entity.salt }}</td>
            <td>{{ entity.password }}</td>
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.locked }}</td>
            <td>{{ entity.expired }}</td>
            {#<td>{% if entity.expiresAt %}{{ entity.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            <td>{{ entity.confirmationToken }}</td>
            <td>{% if entity.passwordRequestedAt %}{{ entity.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.roles }}</td>
            <td>{{ entity.credentialsExpired }}</td>
            {#<td>{% if entity.credentialsExpireAt %}{{ entity.credentialsExpireAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            <td>{{ entity.id }}</td>
            <td>
        <a class="btn btn-mini" href="{{ path('usuario_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

        <div class="span8">
    <a class="btn btn-primary likepaginator" href="{{ path('usuario_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Usuario
        </a>
    </div>
    </div>

{% endblock %}