{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Usuario {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Usuario</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.username }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Usernamecanonical</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.usernameCanonical }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.email }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Emailcanonical</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.emailCanonical }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Enabled</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.enabled }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Salt</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.salt }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.password }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Lastlogin</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.lastLogin|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Locked</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.locked }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Expired</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.expired }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Expiresat</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.expiresAt|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Confirmationtoken</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.confirmationToken }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Passwordrequestedat</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.passwordRequestedAt|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Roles</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.roles }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Credentialsexpired</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.credentialsExpired }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Credentialsexpireat</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.credentialsExpireAt|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('usuario') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Desea eliminar al proyecto del sistema?');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}